[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = git@github.com:klen/python-mode.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule ".vim/bundle/vim-scratch"]
	path = .vim/bundle/vim-scratch
	url = git@github.com:kana/vim-scratch.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule ".vim/bundle/haskellmode-vim"]
	path = .vim/bundle/haskellmode-vim
	url = git@github.com:lukerandall/haskellmode-vim.git
[submodule "vaxe"]
	path = vaxe
	url = git@github.com:jdonaldson/vaxe.git
[submodule ".vim/bundle/vaxe"]
	path = .vim/bundle/vaxe
	url = git@github.com:jdonaldson/vaxe.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/puppet-syntax-vim"]
	path = .vim/bundle/puppet-syntax-vim
	url = git@github.com:puppetlabs/puppet-syntax-vim.git
[submodule "git@github.com:scrooloose/syntastic.git"]
	path = git@github.com:scrooloose/syntastic.git
	url = ./vim/bundle/syntastic
[submodule ".vim/bundle/haproxy.vim"]
	path = .vim/bundle/haproxy.vim
	url = git@github.com:sclo/haproxy.vim.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/neocomplete"]
	path = .vim/bundle/neocomplete
	url = https://github.com/shougo/neocomplete.vim
[submodule ".vim/bundle/scratch"]
	path = .vim/bundle/scratch
	url = git@github.com:mtth/scratch.vim.git
[submodule ".vim/bundle/vim-puppet"]
	path = .vim/bundle/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
